:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: var(--color-light-gray);

  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 24rem;
  background-color: var(--color-white);
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.container > * {
  margin-bottom: 1.8rem;
}

.qr-code {
  border-radius: 1rem;
}

.heading {
  font-weight: 700;
  text-align: center;
  padding: 0 0.8rem;
  color: var(--color-dark-blue);
}

.paragraph {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 0.8rem;
  color: var(--color-grayish-blue);
}
